 .password-input-wrapper {
  min-height: 80px;
}

.transition {
  transition: all 0.2s ease-in-out;
}

input.form-control:focus {
          border-color: #1d79ff !important;
          box-shadow: none;
        }

.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: none;
}

.form-control.is-invalid:focus {
  border-color: var(--bs-danger);
  box-shadow: none;
}


.form-text {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.25rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.form-text:not(:empty) {
  opacity: 1;
  transform: translateY(0);
}

.eye-icon {
  right: 1.2rem;
  top: 56.5%;

  transform: translateY(-50%);
          cursor: pointer;
          z-index: 2;
}